/* app css stylesheet */
html { font-size: 62.5% !important; } 
body { font-size: 14px; font-size: 1.4rem !important; }
h1   { font-size: 36px; font-size: 3.6rem !important; } 
h2   { font-size: 30px; font-size: 3.0rem !important }
h4   { font-size: 24px; font-size: 2.4rem !important; }
h4   { font-size: 18px; font-size: 1.8rem !important; }
h5   { font-size: 14px; font-size: 1.4rem !important; }

body {
  padding-top: 50px;
}

input[type="search"] {
	 width: 200px;
	 height: 32px;
}

  .table th {
    background-color: #0f7f81 !important;
	color:#FFF;
  }
 
.blog-post h2 {
	margin-top:30px;}

.blog-post {
	margin-bottom:40px;
	margin-top:20px;
}

.blog-post h3 label{
	margin:20px 0 0 30px;
}

.blog-post h6 label {
	margin:0px 0 0 30px;
}

.blog-post .boldTxt {
	font-size:18px;
	font-weight:bold;
}

.user-photo {
	/*background:url(../img/photo.png) no-repeat;*/
	/*max-width:100%;
	max-height:100%;*/
	border-radius: 50%;
}


.right {
	float:right;
}

social {
	position:absolute;
}

social li {
	list-style-type:none;
}

.blog-post {
	margin-bottom:40px;
	margin-top:20px;
}

social li {
	list-style-type:none;
	display:inline;
}



.form-signin {
  max-width: 330px;
  padding: 0 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px; text-align:center;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.register{
  max-width: 400px;
  padding: 15px;
  margin: 0 auto;
}
.edit-profile {
	max-width: 500px;
  padding: 15px;
  margin: 0 auto;
}

.view-profile {
  margin: 0 auto;
}

@media only screen 
and (max-width :480px) { 
	
	.col-lg-8 {
		margin:0 auto; 
}	

.view-profile {
	text-align:center;
}

.blog-post h2 {
	margin-top:10px;
}
.cv-social-media li   {
	/*position:absolute;
	bottom:-10px;
	left:0px;*/
	margin-left:100px;
}

.contentArea {
	min-height:0px !important;
	padding-bottom:0px !important;
}

.btn {
		display:block !important;
		width:100% !important;
		margin-bottom:10px !important;
	}
}

@media only screen 
and (min-width :481px) and (max-width :992px) { 
		.view-profile {
			/*
			margin:0 140px; */
			width:60%;
			margin:0 auto;
		
}	
	.col-md-3{
		display:inline-block; vertical-align:top;
	}
	
	.col-md-9{
		display:inline-block;
	}
	
	.blog-post h2 {
		margin-top:10px;
	}
}

.navbar-fixed-top, .navbar-fixed-bottom {
	z-index:999 !important;
}
.popover-content {
	z-index:9999 !important;
}

.table th a {
	color:#fff;
	text-decoration:none;
}

.contentArea {
	min-height:515px;
	padding-top:15px;
	padding-bottom:15px;
}

.logout h4, h3 {
	text-align:center;
}

@media only screen 
and (min-width :1198px) {
	.logout {
		width:36% !important;
	}
}

.modal-dialog {
    width: 300px !important;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  padding: 5px;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  text-align: center !important;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  padding: 5px;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  text-align: right;

}

.left {
	float:left;
}

.bold {
	font-weight:bold;
}
	