/* app css stylesheet */

body {
  padding-top: 50px;
}
.contentArea {
  padding: 40px 15px;
  text-align: center;
}

.search{
  display: block;
  width: 200px;
  height: 32px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

}
social{
    display: block;
    z-index: +3;
}
  .table th {
    background-color: #0f7f81 !important;
	color:#FFF;
  }
 
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}



.edit-in-place span {
  cursor: pointer;
}

.edit-in-place input {
  display: none;
}

.edit-in-place.active span {
  display: none;
}

.edit-in-place.active input {
  display: inline-block;
}





.datagrid table { 
    border-collapse: collapse; 
    text-align: left; 
    width: 100%; 
}
.datagrid {
    font: normal 12px/150% Arial, Helvetica, sans-serif;
    background: #fff; 
    overflow: hidden; 
    border: 1px solid #006699;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px; 
}
.datagrid table td, .datagrid table th {
    padding: 3px 10px; 
}
.datagrid table thead th {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
    background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color:#006699; 
    color:#FFFFFF; 
    font-size: 15px; 
    font-weight: bold; 
    border-left: 1px solid #0070A8; 
}
.datagrid table thead th:first-child {
    border: none; 
}
.datagrid table tbody td {
    color: #00496B; 
    border-left: 1px solid #E1EEF4;
    font-size: 12px;
    font-weight: normal; 
}
.datagrid table tbody .alt td {
    background: #E1EEF4; 
    color: #00496B; 
}
.datagrid table tbody td:first-child {
    border-left: none; 
}
.datagrid table tbody tr:last-child td {
    border-bottom: none; 
}
.datagrid table tfoot td div {
    border-top: 1px solid #006699;
    background: #E1EEF4;
}
.datagrid table tfoot td {
    padding: 0; 
    font-size: 12px 
}
.datagrid table tfoot td div{ 
    padding: 2px; 
}
.datagrid table tfoot td ul { 
    margin: 0; padding:0; 
    list-style: none; 
    text-align: right; 
}
.datagrid table tfoot  li { display: inline; }
.datagrid table tfoot li a { 
    text-decoration: none;
    display: inline-block;  
    padding: 2px 8px; 
    margin: 1px;
    color: #FFFFFF;
    border: 1px solid #006699;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px; 
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #006699), color-stop(1, #00557F) );
    background:-moz-linear-gradient( center top, #006699 5%, #00557F 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#006699', endColorstr='#00557F');
    background-color:#006699; 
}
.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover {
    text-decoration: none;
    border-color: #006699; 
    color: #FFFFFF; 
    background: none; 
    background-color:#00557F;
}
div.dhtmlx_window_active, div.dhx_modal_cover_dv {
    position: fixed !important; 
}

.blog-post {
	margin-bottom:40px;
	margin-top:20px;
}

.blog-post h3 label{
	/*margin:20px 0 0 30px;*/
}

.blog-post h6 label {
	margin:0px 0 0 30px;
}

.blog-post .boldTxt {
	font-size:18px;
	font-weight:bold;
}

.user-photo {
	/*background:url(../img/photo.png) no-repeat;*/
	width:120px;
	height:120px;
	border-radius: 50%;
}
@media screen and (max-width:640px){
	.col-xs-7, .col-xs-3{
		width:100% !important;
		text-align:center;
	}
	
	.user-photo {
	text-align:center;
	width:120px;
	height:120px;
	border-radius: 50%;
}
}

.right {
	float:right;
}

social {
	position:absolute;
}

social li {
	list-style-type:none;
}

@media only screen and (max-width: 480px) {
social {
	position:absolute;
	top:430px;
	left:110px;
}
social li {
	list-style-type:none;
	display:inline;
}

}

/* ------   media queries    --------- */

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}