<hr>
<ul class="cv-social-media">
  <a class="animated fadeIn" href="https://www.facebook.com/sharer/sharer.php?s=100" target="_blank"><li id="facebook" class="icon-facebook facebook"></li></a>
  <a class="animated fadeIn" href='https://twitter.com/intent/tweet?url=http://neerajoshi.com&amp;text=Resume%20application%20in%20AngularJS:%20Facebook,%20Twitter,%20Google+&amp;via=joshi_neeraj' target="_blank"><li id="twitter" class="icon-twitter"></li></a>
  <a class="animated fadeIn" href="https://plus.google.com/share?url=http://neerajjoshi.com" target="_blank"><li id="email" class="icon-email"></li></a>
</ul>