<div class="row">
   <!--- <input type="text" ng-model="user.name" placeholder="Name of the user">
    <input type="text" ng-model="user.email" placeholder="Email">
    <input type="text" ng-model="user.qualification" placeholder="Qualification">
    <button ng-hide = "user._id" ng-click="addNewUser(user)">Add User</button>
    <button ng-show = "user._id" ng-click="updateUser(ser)">Update User</button>
    <br>--->
    <div class="col-lg-1">
    	&nbsp;
    </div>
    <div class="col-lg-10">
    	<h2>User List</h2>
    	
        <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
					  <a href="" ng-click="orderByField='name'; reverseSort = !reverseSort">User Name
																	<span ng-show="orderByField == 'name'"> <span ng-show="!reverseSort"><img src='img/16_em_up.png'/></span><span ng-show="reverseSort"><img src='img/16_em_down.png'/></span></span></a></th>
                    <th>
					<a href="" ng-click="orderByField='email'; reverseSort = !reverseSort">Email
																	<span ng-show="orderByField == 'email'"> <span ng-show="!reverseSort"><img src='img/16_em_up.png'/></span><span ng-show="reverseSort"><img src='img/16_em_down.png'/></span></span></a></th>
					
                    <th>Qualification</th>
                    <th colspan="3">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{alt: $even, odd: $odd}" ng:repeat="user in users | filter:search | orderBy:orderByField:reverseSort">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.qualification}}</edit-in-place></td>
                    <td><a href="#/user/edit/{{user._id}}"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a href="#/user/view/{{user._id}}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                    <td><a href="#/user/delete/{{user._id}}"><span class="glyphicon glyphicon-remove"></span></a></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="col-lg-1">
    	&nbsp;
    </div>
</div>