<div class="row">

    <div class="col-lg-1">
    	&nbsp;
    </div>
    <div class="col-lg-10">
    	<h2>User List</h2>
    	
        <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>
					  <a href="" ng-click="orderByField='name'; reverseSort = !reverseSort">User Name
																	<span ng-show="orderByField == 'name'"> <span class = "glyphicon glyphicon-arrow-up" ng-show="!reverseSort"></span><span class = "glyphicon glyphicon-arrow-down" ng-show="reverseSort"></span></span></a></th>
                    <th>
					<a href="" ng-click="orderByField='email'; reverseSort = !reverseSort">Email
																	<span ng-show="orderByField == 'email'"> <span class = "glyphicon glyphicon-arrow-up" ng-show="!reverseSort"></span><span class = "glyphicon glyphicon-arrow-down" ng-show="reverseSort"></span></span></a></th>
					
                    <th>Qualification</th>
                    <th colspan="3">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{alt: $even, odd: $odd}" ng-repeat="user in users | filter:search | orderBy:orderByField:reverseSort">
                    <td><a href="" ng-click="open(user)">{{user.name}}</a></td>
                    <td>{{user.email}}</td>
                    <td>{{user.qualification}}</edit-in-place></td>
                    <td><a rel="tooltip" tooltip="Edit-Profile" href="#/user/edit/{{user._id}}"><span class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a rel="tooltip" tooltip="View-Proifle" href="#/user/view/{{user._id}}"><span class="glyphicon glyphicon-eye-open"></span></a></td>
                    <td><a rel="tooltip" tooltip="Delete-Profile" href="#/user/delete/{{user._id}}" ><span class="glyphicon glyphicon-remove"></span></a></td>
                </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="col-lg-1">
    	&nbsp;
    </div>
</div>